<form class="search">
	<input #search type="text" placeholder="Search.." name="search">
	<button (click)="getSearchResults(search.value)" type="button"><i class="fa fa-search"></i></button>
</form>

<br><br>

<h1> Connection List </h1>

<br><br>

<ol>
    <li *ngFor="let connection of connections.users;">
        {{connection.firstName + " " + connection.lastName}}
        <button (click)="getUserProfile(connection.userId)">Show Profile!</button>
    </li>
</ol>

<h2>    Search Results:    </h2>

<h3> {{ errorMessage }} </h3>

<ol>
    <li *ngFor="let result of getSearchResultsArray.results;">
        {{result.firstName + " " + result.lastName}}
        <button (click)="getUserProfile(result.userId)">Show Profile!</button>
    </li>
</ol>
