<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
	<div class ="card">
		<img src="img.jpg" alt="George" style="width:100%">
		<h1>{{name}}</h1>
	</div>

	<app-upload></app-upload>

	<div class="card"> 
		<a (click)="getEducation()"><h1>Education</h1></a>
		<div *ngFor="let edu of education">
			{{edu.degree}} - {{edu.institution}} <br> Years: {{edu.yearFrom}} - {{edu.yearTo}} <br><br>
			<input type="button" value="Edit" (click)="editEducationFlag[educationIndex.indexOf(edu.educationId)] = true;"/>
			<div *ngIf="editEducationFlag[educationIndex.indexOf(edu.educationId)]">
				<label>Degree: </label>
				<input #degree type="text"/><br>
				<label>Institution: </label>
				<input #institution type="text"/><br>
				<label>YearFrom: </label>
				<input #from type="text"/><br>
				<label>YearTo: </label>
				<input #to type="text"/><br>
				<input type="button" value="Update" (click)="editEducation(edu.educationId, degree.value, institution.value, from.value, to.value)">
			</div>
		</div>
		<button (click)="postEducationFlag = true;">Add Education!</button>
		<div *ngIf="postEducationFlag">
			<label>Degree: </label>
			<input #degree type="text"/><br>
			<label>Institution: </label>
			<input #institution type="text"/><br>
			<label>YearFrom: </label>
			<input #from type="text"/><br>
			<label>YearTo: </label>
			<input #to type="text"/><br>
			<input type="button" value="Insert" (click)="postEducation(degree.value, institution.value, from.value, to.value)">
		</div>
	</div>

	<div class="card">
		<a (click)="getExperience()"><h1>Work Experience</h1></a>
		<div *ngFor="let exp of experience">
			{{exp.position}} - {{exp.companyTitle}} <br> Years: {{exp.dateFrom}} - {{exp.dateTo}} <br><br>
			<input type="button" value="Edit" (click)="editExperienceFlag[experienceIndex.indexOf(exp.experienceId)] = true;"/>
			<div *ngIf="editExperienceFlag[experienceIndex.indexOf(exp.experienceId)]">
				<label>Position: </label>
				<input #position type="text"/><br>
				<label>Company: </label>
				<input #company type="text"/><br>
				<label>Date From: </label>
				<input #from type="text"/><br>
				<label>Date To: </label>
				<input #to type="text"/><br>
				<input type="button" value="Update" (click)="editExperience(exp.experienceId, position.value, company.value, from.value, to.value)">
			</div>
		</div>
		<button (click)="postExperienceFlag = true;">Add Experience!</button>
		<div *ngIf="postExperienceFlag">
			<label>Position: </label>
			<input #position type="text"/><br>
			<label>Company: </label>
			<input #company type="text"/><br>
			<label>Date From: </label>
			<input #from type="text"/><br>
			<label>Date To: </label>
			<input #to type="text"/><br>
			<input type="button" value="Insert" (click)="postExperience(position.value, company.value, from.value, to.value)">
		</div>
	</div>

	<div class="card">
		<a (click)="getSkills()"><h1>Skills</h1></a>
		<div *ngFor="let sk of skills">
			{{sk.skill}}<br>
			<input type="button" value="Edit" (click)="editSkillFlag[skillIndex.indexOf(sk.skillId)] = true;"/>
			<div *ngIf="editSkillFlag[skillIndex.indexOf(sk.skillId)]">
				<label>Skill: </label>
				<input #skill type="text"/><br>
				<input type="button" value="Update" (click)="editSkill(sk.skillId, skill.value)">
			</div>
		</div>
		<button (click)="postSkillFlag = true;">Add Skill!</button>
		<div *ngIf="postSkillFlag">
			<label>Skill: </label>
			<input #skill type="text"/><br>
			<input type="button" value="Insert" (click)="postSkill(skill.value)">
		</div>
	</div>
</body>
</html>