<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
	<div class ="card">
		<img src="img.jpg" alt="George" style="width:100%">
		<h1>{{name}}</h1>
		<p> {{birthDate}} </p>
	    <p><button (click)="sendConnectionRequest()">Connect</button></p>
	</div>

	<div class="card"> 
		<h1>Education</h1>
	</div>

	<div class="card">
		<h1>Work Experience</h1>
	</div>

	<div class="card">
		<h1>Skills</h1>
	</div>
</body>
</html>