<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div *ngIf="isLoggedIn">
		<div class="navbar">
		  <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
		  <a href="/jobs"><i class="fa fa-fw fa-search"></i> Jobs</a>
		  <a href="/connections"><i class="fa fa-fw fa-user-circle"></i> Connections</a>
		  <a href="/messages"><i class="fa fa-fw fa-envelope"></i> Messages</a>
		  <a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
		  <a href="/settings"><i class="fa fa-fw fa-cog"></i> Settings</a>
		  <a href="/notifications"><i class="fa fa-fw fa-globe"></i> Notifications</a>
		  <a (click)="logout()" href="/login"><i class="fa fa-fw fa-xing"></i> Logout</a>
		</div>
	</div>
	
	

</body>
</html>