<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="navbar">
	  <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a> 
	  <a href="../jobs/jobs/main.html"><i class="fa fa-fw fa-search"></i> Jobs</a> 
	  <a href="../connections/main/main.html"><i class="fa fa-fw fa-envelope"></i> Connections</a>
	  <a href="../messages/main.html"><i class="fa fa-fw fa-envelope"></i> Messages</a> 
	  <a href="../profile/main/main.html"><i class="fa fa-fw fa-user"></i> Profile</a>
	  <a href="../settings/main/main.html"><i class="fa fa-fw fa-envelope"></i> Settings</a>
	  <a href="#"><i class="fa fa-fw fa-envelope"></i> Notifications</a>
	  <a href="../profile/main/main.html"><i class="fa fa-fw fa-user"></i> Logout</a>
	</div>
	
	

</body>
</html>