<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome to LinkedOut</title>
	<meta charset="UTF-8">
	
</head>
<body>
	
	<form>
	  <!-- <div class="imgcontainer">
	    <img src="img_avatar2.png" alt="Avatar" class="avatar">
	  </div> -->

	  <div class="container">
	    <label><b>Email</b></label>
	    <input #email type="text" placeholder="Enter Email" name="email" required>

	    <label><b>Password</b></label>
	    <input #psw type="password" placeholder="Enter Password" name="psw" required>

		  <h2> {{ errorMessage }}</h2>

	    <button (click)="login(email.value, psw.value)" type="button">Login</button>
	  </div>

	  <div class="container" style="background-color:#f1f1f1">
	    <span class="psw">Not a member ? <a href="/register">Sign up !</a></span>
	  </div>
	</form>

</body>
</html>