<!DOCTYPE html>
	<html >
	<head>
			<style type="text/css">
	.exactCenter {
		width:700px;
		height:500px;
		position: fixed;
		background-color: #4CAF50;
		top: 30%;
		left: 31%;
		margin-top: -100px;
		margin-left: -100px;
	}
			</style>
	</head>
	<body>
		<div class="exactCenter">
			<div *ngFor="let not of notifications">

				<div *ngIf="not.category == 1">
					A user has liked one of your posts.
					<button type="button" (click)="seePost(not.post)">See Post!</button>
				</div>
				<div *ngIf="not.category == 2">
					A user has commented on one of your posts.
					<button type="button" (click)="seePost(not.post)">See Post!</button>
				</div>
				<div *ngIf="not.category == 3">
					A user has sent you a connection request.
					<button type="button" (click)="seeUser(not.userFrom)">See the user's profile!</button>
				</div>
				<div *ngIf="not.category == 4">
					A user has accepted your friend request.
					<button type="button" (click)="seeUser(not.userFrom)">See the user's profile!</button>
				</div>

			</div>
		</div>
	</body>
	</html>