<app-job-create></app-job-create>
<div *ngFor="let job of jobsFromFriends">

    <h4>{{job.title}}</h4>
    <p>{{job.description}}</p>
    <p>{{job.date}}</p>

    <button *ngIf="!hasApplied(job.id)" type="button" (click)="apply(job.id)">Apply Now!</button>

</div>

<div *ngFor="let job of jobsAlike">

    <h4>{{job.title}}</h4>
    <p>{{job.description}}</p>
    <p>{{job.date}}</p>

    <button *ngIf="!hasApplied(job.id)" type="button" (click)="apply(job.id)">Apply Now!</button>

</div>

<div *ngFor="let job of jobsFromNeighbors">

    <h4>{{job.title}}</h4>
    <p>{{job.description}}</p>
    <p>{{job.date}}</p>

    <button *ngIf="!hasApplied(job.id)" type="button" (click)="apply(job.id)">Apply Now!</button>

</div>