<!DOCTYPE html>
<html lang="en">
<header>
  <h1>Messages</h1>
  
</header>
<body>
<div class="mailbox">
  <div class="nav">
    <a href="/compose">compose</a>
    <a href="#" class="active">messages</a>
  </div>
  <div class="messages">
    
    
    <div class="message">
      <span class="sender">little_george</span>
      <span class="date">Today</span>
      <span class="title">Hello friend !</span>
    </div>
    
    <div class="message">
      <span class="sender">little_george</span>
      <span class="date">Today</span>
      <span class="title">Hello friend !</span>
    </div>
    
    <div class="message">
      <span class="sender">little_george</span>
      <span class="date">Today</span>
      <span class="title">Hello friend !</span>
    </div>
    
    <div class="message">
      <span class="sender">little_george</span>
      <span class="date">Today</span>
      <span class="title">Hello friend !</span>
    </div>
    
    <div class="message">
      <span class="sender">little_george</span>
      <span class="date">Today</span>
      <span class="title">Hello friend !</span>
    </div>
    
    <div class="message">
      <span class="sender">little_george</span>
      <span class="date">Today</span>
      <span class="title">Hello friend !</span>
    </div>
    
    <div class="message">
      <span class="sender">little_george</span>
      <span class="date">Today</span>
      <span class="title">Hello friend !</span>
    </div>
    
  </div>
</div>
</body>
</html>