<div *ngFor="let job of myJobs">

  <h4>{{job.title}}</h4>
  <p>{{job.description}}</p>
  <p>{{job.date}}</p>

  <button type="button" (click)="editJobFlags[jobIndex.indexOf(job.id)] = true;">Edit Job</button>

  <div *ngIf="editJobFlags[jobIndex.indexOf(job.id)]">

    <label>Job Title:</label>
    <input #title type="text">

    <label>Job Description:</label>
    <textarea #desc type="text" placeholder="Enter the new job description..."></textarea>

    <input type="button" (click)="editJob(job.id, title.value, desc.value)" value="Update">

  </div>

  <button type="button" (click)="getJobApplicants(job.id); seeApplicantsFlags[jobIndex.indexOf(job.id)] = true;">See Applicants</button>

  <div *ngIf="seeApplicantsFlags[jobIndex.indexOf(job.id)]">

    <div *ngFor="let user of applicants">

      <p>User: {{user.firstName}} {{user.lastName}}</p>
      <p>Email: {{user.email}}</p>

    </div>

  </div>
</div>

